h1{color: #9310df;
text-align:center;
font-size: 40px; }

h2{color: #89d60e;
text-align: center;
font-size:40px ;}

 h3{color: #000;
text-align: center;
font-size: 40px;}



li{list-style-position: inside;
    font-size: 20px;
margin: 6px 0;
text-align: center;}


body{background-color: #ade2cc;
font-family:Arial, Helvetica, sans-serif ;}

 .tier{margin: 40px auto;
text-align: center;}

 .tier-1 h1{color: #8a2be2;}

 .tier-2  h2{color: #6dbf4b;}

 .tier-3 h3{color:#333;}
 ul,ol{list-style-position: inside;padding: 0}

 li{font-size: 20px;
margin: 6px 0;}

body{background:linear-gradient(#ade22c,#c7f0e2);}

.tier{border: 2px solid rgba(0, 0,0, 0.1);
border-radius :50px;
padding: 20px;
width: 50%;}
.tier:hover{transform: scale(1.02);
transition: 0.2s;}